html {
    position: relative;
    min-height: 100%;
}

body {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: #000 url("bg.png");
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin 0 0 20px;
}

h1 {
    text-align: center;
    margin: 5%;
    font-size: 50pt;
    font-weight: 100;
}

table {
    margin: auto;
}

td {
    text-align: center;
}

.services {
    margin-bottom: 5%;
}

.title {
    font-weight: bold;
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    /* border: 3px solid #00FF00; */
    margin: 10px;
}

.divider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
    height: 0;
    border: 2px dashed #222;
}

.foot {
    text-align: center;
    color: #888;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
}

footer > span {
    color: #00FFFF;
}

.config > table {
  margin-bottom: 3%;
  font-size: 20pt;
}

#serviceInput, .button {
  border: thin solid #fff;
  border-radius: 10px;
  margin: 5px;
  font-size: 20pt;
  font-family: 'Lato', sans-serif;
}

#serviceInput {
  background: transparent;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.button {
  background: #fff;
  color: #222;
  padding-left: 10px;
  padding-right: 10px;
}

.button-wide {
  padding-left: 100px;
  padding-right: 100px;
}
