body {
    background: #FFF;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    margin: 5%;
    font-size: 50pt;
    font-weight: 100;
}

table {
    margin: auto;
}

.title {
    font-weight: bold;
}

.foot {
    text-align: center;
    color: #444;
}

footer {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

footer > span,
footer > a {
    color: #00FFFF;
}

#serviceInput, .button {
    color: #666;
    border: thin solid #666;
    border-radius: 10px;
    margin: 5px;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
}

#serviceInput {
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    background: #fff;
    color: #222;
    padding-left: 10px;
    padding-right: 10px;
}

.button-wide {
    padding-left: 100px;
    padding-right: 100px;
}